$font-stack: "Roboto", sans-serif;
$blue: #193247;
$red: #a2231d;
$fucsia: #ef438b;
$orange: #f66a1d;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: $blue;
}

.header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../Assets/banner.svg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/*Navbar*/
nav {
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
}

nav img {
  width: 150px;
}

@mixin computer {
  @media (min-width: 848px) {
    @content;
  }
}

a {
  text-decoration: none;
  font-size: 19px;
}

.container {
  max-width: 1400px;
  margin: auto;
}
#primary-nav {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
  .container {
    padding: 0 10px;
  }
  ul {
    @include computer {
      display: grid;
    }
    background-color: $blue;
    grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
    display: grid;
    align-content: center;
    grid-column-gap: 9px;
    grid-row-gap: 10px;
    li {
      a {
        color: $white;
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding: 10px;
        transition: 0.4s ease-in;
        &:hover,
        &:focus {
          background: darken($red, 20%);
        }
        &:active {
          border: 2px solid $white;
        }
      }
    }
  }
}
.main-nav {
  background: $blue;
  grid-column: 1 / span 2;
}
#hamburger {
  margin: 1em;
  justify-self: end;
  display: block;
  background: $white;
  border: none;
  font-size: 1.2em;
  line-height: 1;
  #expanded {
    display: none;
  }
  svg {
    width: 3em;
    height: 3em;
    background: $white;
  }
  span {
    font-variant: small-caps;
    display: block;
    position: relative;
    top: 15px;
  }
  @include computer {
    display: none;
  }
  &[aria-expanded="true"] {
    color: $blue;
    svg {
      background: $blue;
      fill: $white;
    }
    span {
      position: static;
    }
    #expanded {
      display: block;
    }
  }
}

#hamburger[aria-expanded="true"] + .main-nav {
  display: block;
}
.js-enabled .main-nav {
  display: none;
  @include computer {
    display: block;
  }
}

/* Banner */
.text-box {
  width: 90%;
  color: $white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 55px;
  color: $white;
  margin-bottom: 20px;
}

.hero-btn {
  display: inline-block;
  border: 1px solid $white;
  padding: 12px 34px;
  font-size: 19px;
  background: transparent;
  position: relative;
  overflow-y: hidden;
}

.hero-btn2 {
  border: 1px solid $blue;
}

.hero-a {
  text-decoration: none;
  color: $white;
}

.hero-btn:hover {
  border: 1px solid $blue;
  background: $blue;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 30px;
  }

  .nav-links ul li {
    display: block;
    color: $white;
  }

  .nav-links {
    position: fixed;
    background: $blue;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -270px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-links ul li a {
    color: $white;
  }

  nav .fa {
    display: block;
    color: $white;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .nav-links {
    padding: 30px;
  }
}

/* Sobre la app */

.sobre {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  color: $blue;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.sobre-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  margin: 10px 0;
  color: $blue;
}

.sobre-col:hover {
  box-shadow: 0 0 20px 0px rgba(240, 18, 129, 0.575);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.en-app {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.app-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.app-col img {
  width: 100%;
  border-radius: 10px;
}

.app-col p {
  padding-top: 0;
}

.app-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* CTA */

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: url("../Assets/cartel.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 150px 0;
}

.cta h3 {
  font-size: 22px;
  color: $blue;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta h3 {
    font-size: 24px;
  }
}

/*Footer*/

footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
}
.icons .fa {
  color: $blue;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

/*Error*/
.pagina-no-encontrada img {
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
}

.pagina-no-encontrada {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pagina-no-encontrada h1 {
  color: $blue;
  margin: 30px 0;
}

.pagina-no-encontrada p {
  color: $blue;
  font-size: 19px;
  text-align: center;
  margin: 5px;
}

.pagina-no-encontrada p a {
  color: $white;
}

.hero-error {
  display: inline-block;
  border: 1px solid $blue;
  padding: 20px 0px;
  margin: 20px;
  font-size: 19px;
  background: transparent;
  position: relative;
}

.hero-a-error {
  text-decoration: none;
  padding: 20px 34px;
  color: $blue;
}

.hero-error:hover {
  border: 1px solid $blue;
  background: $blue;
  transition: 1s;
}

.hero-a-error:hover {
  text-decoration: none;
  color: $white;
  transition: 1s;
}

@media (max-width: 900px) {
  .pagina-no-encontrada img {
    height: 180px;
  }
  .pagina-no-encontrada p {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .pagina-no-encontrada img {
    height: 120px;
  }
  .pagina-no-encontrada {
    width: 100%;
  }
  .pagina-no-encontrada h1 {
    font-size: 19px;
  }
  .pagina-no-encontrada p {
    width: 90%;
  }
}

/*------Acerca de Orbitty--------*/

.sub-header {
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../Assets/Moodboard.jpg);
  background-position: center;
  background-size: cover;
}

.sub-h1 {
  margin-top: 20px;
  text-align: center;
}

.acerca-de {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h2 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.blue-btn {
  border: 1px solid $blue;
  background: transparent;
  color: $blue;
  text-decoration: none;
}

.blue-btn:hover {
  color: $white;
}

/*------Historias--------*/
.blog-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}

.blog-left {
  flex-basis: 65%;
}

.blog-left img {
  width: 100%;
}

.blog-left h2 {
  color: $blue;
  font-weight: 600;
  margin: 30px 0;
}

.blog-left p {
  padding: 0;
}

.blog-right {
  flex-basis: 32%;
}

.blog-right h2 {
  background: $red;
  color: $white;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-sizing: border-box;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}

.comment-box h3 {
  text-align: left;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-box button {
  margin: 10px 0;
}

/*------Contact--------*/

.ubicacion {
  width: 75%;
  margin: auto;
  padding: 4rem 0;
}

.ubicacion iframe {
  width: 100%;
}

.contact-form {
  width: 75%;
  margin: auto;
  padding: 4rem 0;
  text-align: center;
}

.txtb {
  border: 1px solid grey;
  margin: 8px 0;
  padding: 12px 18px;
}

.txtb label {
  display: block;
  text-align: left;
  font-size: 19px;
}

.txtb input,
.txtb textarea {
  width: 100%;
  font-size: 19px;
  background: none;
  border: none;
}

::placeholder {
  color: #797575;
  font-size: 18.5px;
}

.btn {
  display: inline-block;
  background: $blue;
  padding: 1rem 0;
  color: $white;
  font-size: 19px;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

.btn:hover {
  background: $white;
  color: $blue;
}

.row-contact {
  display: flex;
}

.column-contact {
  flex: 50%;
}

.contact-list {
  font-size: 19px;
  padding-top: 1rem;
}

.list-item {
  padding-top: 1rem;
  font-size: 18px;
}

.list-item i {
  font-size: 14px;
  margin-right: 0.5rem;
}

.form-p {
  padding-top: 1rem;
  font-size: 19px;
}

.intento {
  padding: 1rem 0;
  text-align: center;
}

.txtb {
  margin-bottom: 1rem;
}

.required {
  text-align: left;
}

/*Articulos*/

.container-header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../Assets/Digital.jpg);
  background-position: center;
  background-size: cover;
  padding-right: 8%;
  padding-left: 8%;
  box-sizing: border-box;
}

.row-art {
  display: flex;
  height: 88%;
  align-items: center;
}

.col-art {
  flex-basis: 50%;
}

.white {
  color: $white;
  font-size: 1.3rem;
}

.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-color: $white;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}

.card:hover {
  transform: translateY(-10px);
}

h2 {
  color: $white;
  text-shadow: 0 0 5 #999;
}

.header-card {
  color: $white;
  text-shadow: 0 0 5 #999;
  font-size: 1.5rem;
}

.container-articulos {
  max-width: 56.25rem;
  margin: auto;
}

.container-articulos section {
  padding: 1.5rem;
}

.container-main {
  float: left;
  width: 70%;
}

aside {
  float: right;
  width: 25%;
}

aside {
  padding: 1rem;
}

.lista-links li a {
  line-height: 1.5rem;
}

.lista-links li a:hover {
  color: $red;
}

@media (max-width: 700px) {
  main {
    float: none;
    width: 100%;
  }
  aside {
    float: none;
    width: 100%;
    padding: 1rem;
  }
}

/* Link Contenido Principal*/

.c-skip-to {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  transform: translateY(-100%);
  color: $white;

  &:focus {
    transform: none;
  }
}

#main {
  outline: none;
}
